.card-link {
    display: contents; 
    text-decoration: none; 
    color: inherit; 
}

.slick-prev, .slick-next {
    color: black !important;  /* Cambia il colore dell'icona */
    z-index: 1000; /* Assicura che siano visibili sopra altri elementi */
}

.slick-prev:before, .slick-next:before {
    color: black !important; /* Cambia il colore della freccia */
    font-size: 24px; /* Cambia la dimensione se serve */
}

.slider-card {
    width: 100%;  
    max-width: 400px; 
    max-height: 400px; /* Fixes height to prevent overflow */
    display: flex;
    flex-direction: column;
}

.slider-card img {
    width: 100%;
    height: auto;  
    object-fit: contain; 
}

.slider-card .card-body {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}
  
  .slider-card .card-title {
    font-size: clamp(10px, 2vw, 16px); /* Responsive font size */
  }