body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F9F9F9;
}

h1{
    color: #222222;
}

h2 {
    color: #555555;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: large;
}

section{
    margin: 20px;
    padding: 20px;
    /*border: 1px solid black;*/
}

.footer-section {
    color: white;
    background-color: #4C4C4C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section div{
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.eventi-section {
    background-color: #F9F9F9;
    color: black;
    display: table flex;
}

.eventi-section h2 {
    text-align: left;
}

@media (max-width: 768px) {
    .footer-section {
        flex-direction: column; 
        align-items: center;
    }

    .footer-section div {
        width: 100%; 
    }

    h1 {
        font-size: 5vw !important; 
    }

    h2 {
        font-size: 4vw;
    }
}

.logo {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: contents;
}